<table class="table table-striped">
    <thead>
    <tr>
        <th>#</th>
        <th>Id Ticket</th>
        <th>Nombre</th>
    </tr>
    </thead>
    <tbody>
    {% for i, ticket in colaAtencion %}
        <tr>
            <td>{{ paginaActual>1?((paginaActual-1)*10)+i+1 : i+1}}</td>
            <td>{{ ticket.id }}</td>
            <td>{{ ticket.nombre }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="3" class="text-center">No se encontraron datos</td>
        </tr>
    {% endfor %}
    </tbody>
</table>