{% extends 'base.html.twig' %}

{% block title %}Formulario de atención{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div id="vue-app">
        <div class="card">
            <div class="card-header alert-info">
                <h1 class="text-center text-capitalize">
                    ${ message }$
                </h1>
            </div>
            <div class="card-body">
                <div class="container-fluid">
                    <form method="post" action="">
                        <id-ticket></id-ticket>
                        <div class="input-group">
                            <div class="col-sm-12 offset-md-2 col-md-4 col-lg-3" >
                                <label for="id" class="form-label">Id: </label>
                            </div>
                            <div class="col-sm-12 col-md-4 col-lg-3" >
                                <input type="number" id="id" name="id" class="form-control" v-model="id" placeholder="0" />
                            </div>
                        </div>
                        <name-ticket></name-ticket>
                        <div class="input-group">
                            <div class="col-sm-12 offset-md-2 col-md-4 col-lg-3" >
                                <label for="nombre" class="form-label">Nombre: </label>
                            </div>
                            <div class="col-sm-12 col-md-4 col-lg-3" >
                                <input type="text" id="nombre" name="nombre" class="form-control" v-model="nombre"
                                       placeholder="Escriba un nombre"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card-footer alert-info">
                <div class="row">
                    <div class="col-sm-6 offset-md-4 col-md-4 offset-lg-8 col-lg-2" >
                        <a href="" id="botonGuardar" class="btn btn-success btn-lg">Guardar</a>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-2" >
                        <a href="" id="botonCancelar" class="btn btn-danger btn-lg">Cancelar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app') }}
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
{% endblock %}
