{% extends 'base.html.twig' %}

{% block title %}Formulario de atención{% endblock %}

{% block body %}
<div class="container-fluid">
    <div id="vue-app">
        ${ message }$
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/app.js') }}" type="text/javascript"></script>
{% endblock %}
