{% extends 'base.html.twig' %}

{% block title %}Formulario de atención{% endblock %}

{% block body %}
<div class="container-fluid">
    <div id="app">
        ${ message }$ {# Variable de Vue #}
    </div>
</div>
{% endblock %}